.select2-dropdown{
    z-index: 9999999;
}
.select-employee {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    margin-bottom: 10px;
  }

@media print {
  @page {
  size: landscape;
  height: auto; 
}
  }

  #switchForm{
  border-radius: 15px;
  }
  #switchForm:hover {
    background: linear-gradient(to right, rgb(211, 55, 55), rgb(197, 172, 27));
}
